@import 'uikit';

@media screen and (pointer: coarse) {
  .number {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
}
@media screen and (max-width: 375px) {
  header {
    justify-content: center;
    padding: 70px 0 0 0;

    nav {
      display: none;
    }
  }

  .header__bg {
    background-position: right 50% top 50%;
    .header__content {
      h1 {
        font-size: 100px;
        height: 220px;
      }
      h3 {
        text-align: center;
        font-size: 18px;
        width: 315px;
      }

      .bottom__nav {
        display: flex !important;
        justify-content: center;
        font-size: 12px;
        gap: 10px;
        width: 300px;
      }
    }
  }
  /////////////////////////////////////////////////
  .second__block {
    height: auto;
    padding: 0px 0 100px 0;

    ul {
      font-size: 8vh;
      line-height: 70px;
    }

    .p__title {
      margin-top: 0;
      font-size: 20px;
      width: 350px;
      line-height: 32px;
    }
    .p__text {
      font-size: 14px;
      line-height: 24px;
    }

    .p__content {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .third__block {
    & > img {
      margin-top: 0;
      width: 100%;
      display: block;
      margin-bottom: 50px;
    }

    .third__block__bottom {
      flex-direction: column-reverse;
      gap: 20px;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0 20px 50px 20px;

      .third__block__img {
        width: 335px;
        height: 183px;
      }
    }
  }

  .title {
    font-size: 24px !important;
    line-height: 32px !important;
    width: 350px;
    height: 32px !important;
  }

  .number__block {
    width: 100%;
    height: 115px !important;
  }
  .number {
    height: 20px !important;
    width: 50px !important;
  }
  .number__sub {
    font-size: 14px !important;
  }

  .text {
    font-size: 14px !important;
    line-height: 24px !important;
    height: 50px !important;
    width: 300px;
  }

  .fourth__block {
    height: 421px;
    margin-top: 60px;
    .fourth__block__wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;

      .number__block {
        height: 215px;
        width: 100%;
        padding: 50px 0 50px 20px;
      }
      .number {
        height: 20px !important;
        width: 50px !important;
      }
      .number__sub {
        font-size: 14px !important;
      }

      .text {
        font-size: 14px !important;
        line-height: 24px !important;
        height: 50px !important;
        width: 290px;
      }

      .fourth__block__img {
        width: 375px;
        height: 206px;
        .fourth__block__second__img {
          display: block;
          width: 100%;
          height: 100%;
          margin-top: 100px;
        }
        img {
          display: none;
        }
      }
    }
  }
  .fifth__block {
    height: auto;
    margin: 0;

    .fifth__block__wrapper {
      width: 100%;
      height: 330px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .number__block {
        height: 215px;
        width: 100%;
        padding: 50px 50px 60px 20px;
      }
      .number {
        height: 20px !important;
        width: 50px !important;
      }
      .number__sub {
        font-size: 14px !important;
      }

      .text {
        font-size: 14px !important;
        line-height: 24px !important;
        height: 50px !important;
        width: 290px;
        padding-top: 15px;
      }
    }

    .phone__wrapper {
      overflow-x: hidden;
      width: 100%;
      height: 282px;
      margin-top: 100px;

      .circle__wrapper {
        gap: 15px;
        height: 202px;
        animation-name: circle__wrapper;
        animation-duration: 8s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @keyframes circle__wrapper {
          0% {
            transform: translateX(0px);
          }
          25% {
            transform: translateX(-50px);
          }

          50% {
            transform: translateX(0px);
          }

          75% {
            transform: translateX(50px);
          }

          100% {
            transform: translateX(0px);
          }
        }

        .circle {
          width: 202px;
          height: 202px;
          background-color: $accent;
          opacity: 0.6;
          border-radius: 50%;
          z-index: 1;
        }
        .third__circle {
          width: 202px;
          height: 202px;
          animation-name: crcles;
          animation-duration: 16s;
          animation-iteration-count: infinite;
          animation-fill-mode: both;
          animation-timing-function: linear;

          img {
            width: 200px;
            height: 200px;
          }
        }
      }

      .fifth__block__img {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 130px;
          height: 282px;
        }
      }
    }

    .fifth__block__applications {
      margin-top: 50px;

      p {
        font-size: 12px;
        line-height: 15px;
      }

      .fifth__block__buttons {
        margin-top: 15px;
        gap: 17px;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
  /////////////////////////////////////////

  .sixth__block__img {
    display: none;
  }

  .sixth__block {
    form {
      padding: 70px 0;
      .form-item {
        input {
          width: 335px;
        }

        label {
          font-size: 14px;
        }
      }

      .submit {
        padding: 14px 128.5px;
        width: 335px;
      }
    }
    .form__wrapper {
      width: 100%;
    }
  }

  .footer__wrapper {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  header {
    justify-content: center;
    padding: 70px 0 0 0;

    div:first-child {
      margin: 0 auto;
    }
    nav {
      display: none;
    }
  }

  .header__bg {
    background-position: right 50% top 50%;
    .header__content {
      h1 {
        font-size: 100px;
        height: 220px;
      }
      h3 {
        text-align: center;
        font-size: 18px;
        width: 315px;
      }

      .bottom__nav {
        display: flex !important;
        justify-content: center;
        font-size: 12px;
        gap: 10px;
        width: 300px;
      }
    }
  }
  /////////////////////////////////////////////////
  .second__block {
    height: auto;
    padding: 0px 0 300px 0;

    ul {
      font-size: 8vh;
      line-height: 70px;
    }

    .p__title {
      margin-top: 0;
      font-size: 28px;
      width: 500px;
      line-height: 40px;
    }
    .p__text {
      font-size: 22px;
      line-height: 32px;
    }

    .p__content {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .third__block {
    & > img {
      margin-top: 0;
      width: 100%;
      display: block;
      margin-bottom: 50px;
    }

    .third__block__bottom {
      flex-direction: column-reverse;
      gap: 20px;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0 20px 50px 20px;

      .third__block__img {
        width: 670px;
        height: 366px;
      }
    }
  }

  .title {
    font-size: 32px !important;
    line-height: 40px !important;
    width: 500px;
    height: 32px !important;
    white-space: nowrap;
  }

  .number__block {
    width: 100%;
    height: 115px !important;
  }
  .number {
    height: 20px !important;
    width: 50px !important;
  }
  .number__sub {
    font-size: 22px !important;
  }

  .text {
    padding-top: 30px;
    font-size: 20px !important;
    line-height: 32px !important;
    height: 50px !important;
    width: 300px;
  }

  .fourth__block {
    height: 421px;
    margin-top: 60px;
    .fourth__block__wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;

      .number__block {
        height: 215px;
        width: 100%;
        padding: 50px 0 50px 20px;
      }
      .number {
        height: 20px !important;
        width: 50px !important;
      }
      .number__sub {
        font-size: 22px !important;
      }

      .title {
        font-size: 32px !important;
        line-height: 40px !important;
        width: 500px;
        height: 32px !important;
        white-space: nowrap;
      }
      .text {
        font-size: 22px !important;
        line-height: 32px !important;
        height: 50px !important;
        width: 480px;
      }

      .fourth__block__img {
        width: 768px;
        height: 350px;
        .fourth__block__second__img {
          display: block;
          width: 100%;
          height: 100%;
          margin-top: 100px;
        }
        img {
          display: none;
        }
      }
    }
  }
  .fifth__block {
    height: auto;
    margin: 0;

    .fifth__block__wrapper {
      width: 100%;
      height: 330px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .number__block {
        margin-top: 200px;
        height: 215px;
        width: 100%;
        padding: 50px 50px 60px 20px;
      }
      .number {
        height: 20px !important;
        width: 50px !important;
      }
      .number__sub {
        font-size: 22px !important;
      }

      .title {
        font-size: 32px !important;
        line-height: 40px !important;
        width: 500px;
        height: 32px !important;
        white-space: nowrap;
      }
      .text {
        font-size: 22px !important;
        line-height: 32px !important;
        height: 50px !important;
        width: 480px;
        padding-top: 60px;
      }
    }

    .phone__wrapper {
      overflow-x: hidden;
      width: 100%;
      height: 464px;
      margin-top: 450px;

      .circle__wrapper {
        gap: 15px;
        height: 404px;
        animation-name: circle__wrapper;
        animation-duration: 8s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @keyframes circle__wrapper {
          0% {
            transform: translateX(0px);
          }
          25% {
            transform: translateX(-50px);
          }

          50% {
            transform: translateX(0px);
          }

          75% {
            transform: translateX(50px);
          }

          100% {
            transform: translateX(0px);
          }
        }

        .circle {
          width: 404px;
          height: 404px;
          background-color: $accent;
          opacity: 0.6;
          border-radius: 50%;
          z-index: 1;
        }
        .third__circle {
          width: 404px;
          height: 404px;
          animation-name: crcles;
          animation-duration: 16s;
          animation-iteration-count: infinite;
          animation-fill-mode: both;
          animation-timing-function: linear;

          img {
            width: 404px;
            height: 404px;
          }
        }
      }

      .fifth__block__img {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 260px;
          height: 464px;
        }
      }
    }

    .fifth__block__applications {
      margin-top: 50px;

      p {
        font-size: 12px;
        line-height: 15px;
      }

      .fifth__block__buttons {
        margin-top: 15px;
        gap: 17px;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
  /////////////////////////////////////////

  .sixth__block__img {
    display: none;
  }

  .sixth__block {
    form {
      padding: 70px 0;
      .form-item {
        input {
          width: 335px;
        }

        label {
          font-size: 14px;
        }
      }

      .submit {
        padding: 14px 128.5px;
        width: 335px;
      }
    }
    .form__wrapper {
      width: 100%;
    }
  }

  .footer__wrapper {
    padding: 0 20px;
  }
}
