body {
  overflow-x: hidden;
}

h1 {
  font-family: "Saugadar";
  font-weight: 400;
  font-size: 275px;
  line-height: 250px;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-family: "Sukhumvit";
  font-weight: 300;
  font-size: 32px;
  line-height: 41px;
  text-transform: uppercase;
}

.p__title {
  font-family: "Saudagar";
  font-weight: 400;
  font-size: 50px;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
}

.p__text {
  font-family: "Sukhumvit";
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  text-align: center;
}

@media screen and (pointer: coarse) {
  .number {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
}
@media screen and (max-width: 375px) {
  header {
    justify-content: center;
    padding: 70px 0 0 0;
  }
  header nav {
    display: none;
  }

  .header__bg {
    background-position: right 50% top 50%;
  }
  .header__bg .header__content h1 {
    font-size: 100px;
    height: 220px;
  }
  .header__bg .header__content h3 {
    text-align: center;
    font-size: 18px;
    width: 315px;
  }
  .header__bg .header__content .bottom__nav {
    display: flex !important;
    justify-content: center;
    font-size: 12px;
    gap: 10px;
    width: 300px;
  }

  .second__block {
    height: auto;
    padding: 0px 0 100px 0;
  }
  .second__block ul {
    font-size: 8vh;
    line-height: 70px;
  }
  .second__block .p__title {
    margin-top: 0;
    font-size: 20px;
    width: 350px;
    line-height: 32px;
  }
  .second__block .p__text {
    font-size: 14px;
    line-height: 24px;
  }
  .second__block .p__content {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .third__block > img {
    margin-top: 0;
    width: 100%;
    display: block;
    margin-bottom: 50px;
  }
  .third__block .third__block__bottom {
    flex-direction: column-reverse;
    gap: 20px;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 20px 50px 20px;
  }
  .third__block .third__block__bottom .third__block__img {
    width: 335px;
    height: 183px;
  }

  .title {
    font-size: 24px !important;
    line-height: 32px !important;
    width: 350px;
    height: 32px !important;
  }

  .number__block {
    width: 100%;
    height: 115px !important;
  }

  .number {
    height: 20px !important;
    width: 50px !important;
  }

  .number__sub {
    font-size: 14px !important;
  }

  .text {
    font-size: 14px !important;
    line-height: 24px !important;
    height: 50px !important;
    width: 300px;
  }

  .fourth__block {
    margin-top: 60px;
    height: auto;
  }
  .fourth__block .fourth__block__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .fourth__block .fourth__block__wrapper .number__block {
    height: 215px;
    width: calc(100% - 20px);
    margin: 50px 0 50px 20px;
  }
  .fourth__block .fourth__block__wrapper .number {
    height: 20px !important;
    width: 50px !important;
  }
  .fourth__block .fourth__block__wrapper .number__sub {
    font-size: 14px !important;
  }
  .fourth__block .fourth__block__wrapper .text {
    font-size: 14px !important;
    line-height: 24px !important;
    height: 50px !important;
    width: 290px;
  }
  .fourth__block .fourth__block__wrapper .fourth__block__img {
    width: 375px;
    height: 206px;
  }
  .fourth__block .fourth__block__wrapper .fourth__block__img .fourth__block__second__img {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
  .fourth__block .fourth__block__wrapper .fourth__block__img img {
    display: none;
  }

  .fifth__block {
    height: auto;
    margin: 0;
  }
  .fifth__block .fifth__block__wrapper {
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fifth__block .fifth__block__wrapper .number__block {
    height: 215px;
    width: 100%;
    padding: 50px 50px 60px 20px;
  }
  .fifth__block .fifth__block__wrapper .number {
    height: 20px !important;
    width: 50px !important;
  }
  .fifth__block .fifth__block__wrapper .number__sub {
    font-size: 14px !important;
  }
  .fifth__block .fifth__block__wrapper .text {
    font-size: 14px !important;
    line-height: 24px !important;
    height: 50px !important;
    width: 290px;
    padding-top: 15px;
  }
  .fifth__block .phone__wrapper {
    overflow-x: hidden;
    width: 100%;
    height: 282px;
  }
  .fifth__block .phone__wrapper .circle__wrapper {
    gap: 15px;
    height: 202px;
    animation-name: circle__wrapper;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes circle__wrapper {
    0% {
      transform: translateX(0px);
    }
    25% {
      transform: translateX(-50px);
    }
    50% {
      transform: translateX(0px);
    }
    75% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  .fifth__block .phone__wrapper .circle__wrapper .circle {
    width: 202px;
    height: 202px;
    background-color: #dcac9b;
    opacity: 0.6;
    border-radius: 50%;
    z-index: 1;
  }
  .fifth__block .phone__wrapper .circle__wrapper .third__circle {
    width: 202px;
    height: 202px;
    animation-name: crcles;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: linear;
  }
  .fifth__block .phone__wrapper .circle__wrapper .third__circle img {
    width: 200px;
    height: 200px;
  }
  .fifth__block .phone__wrapper .fifth__block__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fifth__block .phone__wrapper .fifth__block__img img {
    width: 130px;
    height: 282px;
  }
  .fifth__block .fifth__block__applications {
    margin-top: 50px;
  }
  .fifth__block .fifth__block__applications p {
    font-size: 12px;
    line-height: 15px;
  }
  .fifth__block .fifth__block__applications .fifth__block__buttons {
    margin-top: 15px;
    gap: 17px;
    font-size: 12px;
    line-height: 15px;
  }

  .sixth__block__img {
    display: none;
  }

  .sixth__block form {
    padding: 70px 0;
  }
  .sixth__block form .form-item input {
    width: 335px;
  }
  .sixth__block form .form-item label {
    font-size: 14px;
  }
  .sixth__block form .submit {
    padding: 14px 128.5px;
    width: 335px;
  }
  .sixth__block .form__wrapper {
    width: 100%;
  }

  .footer__wrapper {
    padding: 0 20px;
  }
}