body {
  overflow-x: hidden;
}

h1 {
  font-family: "Saugadar";
  font-weight: 400;
  font-size: 275px;
  line-height: 250px;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-family: "Sukhumvit";
  font-weight: 300;
  font-size: 32px;
  line-height: 41px;
  text-transform: uppercase;
}

.p__title {
  font-family: "Saudagar";
  font-weight: 400;
  font-size: 50px;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
}

.p__text {
  font-family: "Sukhumvit";
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  text-align: center;
}

@font-face {
  font-family: "Saugadar";
  src: url(../fonts/Saudagar400.ttf) format("truetype"), url(../fonts/Saudagar400.woff) format("woff"), url(../fonts/Saudagar400.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Sukhumvit";
  src: url(../fonts/SukhumvitSet-Bold.ttf) format("truetype"), url(../fonts/SukhumvitSet-Bold.woff) format("woff"), url(../fonts/SukhumvitSet-Bold.woff2) format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Sukhumvit";
  src: url(../fonts/SukhumvitSet-Medium.ttf) format("truetype"), url(../fonts/SukhumvitSet-Medium.woff) format("woff"), url(../fonts/SukhumvitSet-Medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Sukhumvit";
  src: url(../fonts/SukhumvitSet-Light.ttf) format("truetype"), url(../fonts/SukhumvitSet-Light.woff) format("woff"), url(../fonts/SukhumvitSet-Bold.woff2) format("woff2");
  font-weight: 300;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header__bg {
  background-image: url(../images/header_bg.jpg);
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.header__bg .black__bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.78);
  position: absolute;
  z-index: 1;
}
.header__bg header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 115px 0 115px;
}
.header__bg .application__list {
  width: 500px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding-top: 15px;
  color: #fff;
  font-family: "Sukhumvit";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.header__bg .application__list a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.header__bg .application__list a:first-child img {
  padding-right: 10px;
}
.header__bg .header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__bg .header__content h1 {
  color: #fff;
  font-family: "Saugadar";
  font-weight: 400;
  line-height: 250px;
  text-transform: uppercase;
  margin-top: 15%;
  height: 260px;
}
.header__bg .header__content #title::after {
  content: " ";
  animation-name: title;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes title {
  0% {
    content: " ";
  }
  22.5% {
    content: "S";
  }
  35% {
    content: "SA";
  }
  47.2% {
    content: "SAL";
  }
  60% {
    content: "SALO";
  }
  72.5% {
    content: "SALON";
  }
  100% {
    content: "SALON";
  }
}
.header__bg .header__content h3 {
  color: #fff;
  margin-bottom: 70px;
}
.header__bg .header__content .subscribe__btn {
  z-index: 1;
  text-decoration: none;
  color: #1a1a1a;
  font-family: "Sukhumvit Set";
  font-weight: 700;
  font-size: 18px;
  line-height: 172%;
  border: 1px solid #dcac9b;
  background-color: #dcac9b;
  border-radius: 2px;
  padding: 14px 100px;
}

.bottom__nav {
  display: none !important;
}

.second__block {
  background-color: #1a1a1a;
  padding-bottom: 250px;
}
.second__block ul {
  font-family: "Saugadar";
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  list-style-type: none;
  line-height: 150px;
  opacity: 0;
  text-align: center;
  color: #fff;
  opacity: 0.06;
  font-size: 150px;
}
.second__block ul li {
  flex: 1;
  animation: coming__soon;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes coming__soon {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.second__block .p__content {
  margin: 0 auto;
  padding-top: 45px;
  width: 800px;
  height: 230px;
  color: rgba(255, 255, 255, 0.8);
}
.second__block .p__second {
  padding-top: 20px;
}
.second__block .p__title {
  margin: 0 auto;
  margin-top: 5%;
  color: #fff;
  width: 865px;
}

.third__block {
  width: 100%;
}
.third__block > img {
  margin: 0 auto;
  margin-top: -100px;
  width: 60%;
  display: block;
  margin-bottom: 340px;
}
.third__block .third__block__bottom {
  margin: 0 auto;
  width: 70%;
  height: 330px;
  display: flex;
  justify-content: space-between;
}
.third__block .third__block__bottom .third__block__img {
  height: 330px;
  width: 600px;
}
.third__block .third__block__bottom .third__block__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.number__block {
  display: flex;
  flex-direction: column;
  height: 330px;
  width: 485px;
}
.number__block .number {
  height: 45px;
  color: #dcac9b;
  font-family: "Saudagar";
  font-weight: 400;
  transform: translateX(100px);
  opacity: 0;
}
.number__block .number__sub {
  height: 45px;
  color: #dcac9b;
  font-size: 30px;
}
.number__block .title {
  font-family: "Saudagar";
  font-weight: 400;
  font-size: 50px;
  line-height: 65px;
  text-transform: uppercase;
  height: 130px;
}
.number__block .text {
  height: 155px;
  font-family: "Sukhumvit Set";
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  display: flex;
  align-items: center;
}

.number__animation {
  opacity: 1 !important;
  transform: translateX(0px) !important;
  transition: 1s;
}

.fourth__block {
  margin-top: 200px;
  width: 100%;
  height: 950px;
  background-color: #1a1a1a;
}
.fourth__block .fourth__block__wrapper {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.fourth__block .fourth__block__img img {
  width: 580px;
  height: 1030px;
  margin-top: -80px;
}

.fifth__block {
  margin-top: 240px;
  width: 100%;
  height: 160vh;
}
.fifth__block .fifth__block__wrapper {
  margin: 0 auto;
  width: 80%;
  height: 330px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fifth__block .fifth__block__wrapper .number__block__wrap {
  width: 450px;
}
.fifth__block .fifth__block__wrapper .number__block__wrap p:nth-child(2) {
  color: #1a1a1a;
}
.fifth__block .fifth__block__wrapper .number__block__wrap p:nth-child(3) {
  color: rgba(26, 26, 26, 0.8);
}
.fifth__block .phone__wrapper {
  height: 756px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.fifth__block .phone__wrapper .circle__wrapper {
  display: flex;
  gap: 35px;
  height: 541px;
  animation-name: circle__wrapper;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes circle__wrapper {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}
.fifth__block .phone__wrapper .circle__wrapper .circle {
  width: 500px;
  height: 500px;
  background-color: #dcac9b;
  opacity: 0.6;
  border-radius: 50%;
  z-index: 1;
}
.fifth__block .phone__wrapper .circle__wrapper .third__circle {
  width: 500px;
  height: 500px;
  animation-name: crcles;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.fifth__block .phone__wrapper .circle__wrapper .third__circle img {
  width: 500px;
  height: 500px;
}
@keyframes crcles {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fifth__block .phone__wrapper .fifth__block__img {
  width: 350px;
  height: 760px;
  display: block;
  position: absolute;
  z-index: 1;
}
.fifth__block .fifth__block__applications {
  margin-top: 120px;
}
.fifth__block .fifth__block__applications p {
  text-align: center;
  font-family: "Sukhumvit";
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  text-transform: uppercase;
}
.fifth__block .fifth__block__applications .fifth__block__buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "Sukhumvit";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.fifth__block .fifth__block__applications .fifth__block__buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  border: 1px solid #000;
  background-color: #000;
  padding: 15px 36px 15px 36px;
}
.fifth__block .fifth__block__applications .fifth__block__buttons a img {
  padding-right: 10px;
}

.sixth__block {
  margin-top: 200px;
  width: 100%;
  background-color: blue;
}
.sixth__block .sixth__block__wrapper {
  display: flex;
  background-color: pink;
}
.sixth__block .sixth__block__wrapper .sixth__block__img {
  width: 50%;
}
.sixth__block .sixth__block__wrapper .sixth__block__img img {
  width: 100%;
  height: 100%;
}
.sixth__block .form__wrapper {
  width: 50%;
  display: flex;
}
.sixth__block form {
  position: relative;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 120px 0;
}
.sixth__block form .form-item {
  position: relative;
  margin-bottom: 15px;
}
.sixth__block form .form-item input {
  display: block;
  width: 560px;
  background: transparent;
  border: none;
  border-bottom: 1px solid hsl(0deg, 0%, 100%);
  transition: all 0.3s ease;
  outline: none;
  color: hsl(0deg, 0%, 56%);
  font-size: 16px;
}
.sixth__block form .form-item label {
  position: absolute;
  cursor: text;
  z-index: 2;
  top: -15px;
  left: -10px;
  font-size: 16px;
  text-transform: uppercase;
  background: transparent;
  padding: 0 10px;
  color: #999;
  transition: all 0.3s ease;
  color: hsl(0deg, 0%, 56%);
}
.sixth__block form .form-item input:focus + label,
.sixth__block form .form-item input:valid + label {
  font-size: 10px;
  transform: translateY(-10px);
}
.sixth__block form .form__title {
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  font-family: "Saugadar";
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
}
.sixth__block form .submit {
  border: 1px solid #dcac9b;
  background-color: #dcac9b;
  border-radius: 2px;
  padding: 14px 240px;
}

footer {
  width: 100%;
}

.footer__wrapper {
  height: 110px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
}
.footer__wrapper p {
  color: #fff;
}

body {
  overflow-x: hidden;
}

h1 {
  font-family: "Saugadar";
  font-weight: 400;
  font-size: 275px;
  line-height: 250px;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-family: "Sukhumvit";
  font-weight: 300;
  font-size: 32px;
  line-height: 41px;
  text-transform: uppercase;
}

.p__title {
  font-family: "Saudagar";
  font-weight: 400;
  font-size: 50px;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
}

.p__text {
  font-family: "Sukhumvit";
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  text-align: center;
}

@media screen and (pointer: coarse) {
  .number {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
}
@media screen and (max-width: 375px) {
  header {
    justify-content: center;
    padding: 70px 0 0 0;
  }
  header nav {
    display: none;
  }

  .header__bg {
    background-position: right 50% top 50%;
  }
  .header__bg .header__content h1 {
    font-size: 100px;
    height: 220px;
  }
  .header__bg .header__content h3 {
    text-align: center;
    font-size: 18px;
    width: 315px;
  }
  .header__bg .header__content .bottom__nav {
    display: flex !important;
    justify-content: center;
    font-size: 12px;
    gap: 10px;
    width: 300px;
  }

  .second__block {
    height: auto;
    padding-bottom: 100px;
  }
  .second__block ul {
    font-size: 9vh;
    line-height: 70px;
  }
  .second__block .p__title {
    margin-top: 0;
    font-size: 20px;
    width: 350px;
    line-height: 32px;
  }
  .second__block .p__text {
    font-size: 14px;
    line-height: 24px;
  }
  .second__block .p__content {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .third__block > img {
    margin-top: 0;
    width: 100%;
    display: block;
    margin-bottom: 50px;
  }
  .third__block .third__block__bottom {
    flex-direction: column-reverse;
    gap: 20px;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 20px 50px 20px;
  }
  .third__block .third__block__bottom .third__block__img {
    width: 335px;
    height: 183px;
  }

  .title {
    font-size: 24px !important;
    line-height: 32px !important;
    width: 350px;
    height: 32px !important;
  }

  .number__block {
    width: 100%;
    height: 115px !important;
  }

  .number {
    height: 20px !important;
    width: 50px !important;
  }

  .number__sub {
    font-size: 14px !important;
  }

  .text {
    font-size: 14px !important;
    line-height: 24px !important;
    height: 50px !important;
    width: 300px;
  }

  .fourth__block {
    height: 421px;
    margin-top: 60px;
  }
  .fourth__block .fourth__block__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .fourth__block .fourth__block__wrapper .number__block {
    height: 215px;
    width: 100%;
    padding: 50px 0 50px 20px;
  }
  .fourth__block .fourth__block__wrapper .number {
    height: 20px !important;
    width: 50px !important;
  }
  .fourth__block .fourth__block__wrapper .number__sub {
    font-size: 14px !important;
  }
  .fourth__block .fourth__block__wrapper .text {
    font-size: 14px !important;
    line-height: 24px !important;
    height: 50px !important;
    width: 300px;
  }
  .fourth__block .fourth__block__wrapper .fourth__block__img {
    width: 375px;
    height: 206px;
  }
  .fourth__block .fourth__block__wrapper .fourth__block__img img {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .fifth__block {
    height: auto;
    margin: 0;
  }
  .fifth__block .fifth__block__wrapper {
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fifth__block .fifth__block__wrapper .number__block {
    height: 215px;
    width: 100%;
    padding: 50px 50px 60px 20px;
  }
  .fifth__block .fifth__block__wrapper .number {
    height: 20px !important;
    width: 50px !important;
  }
  .fifth__block .fifth__block__wrapper .number__sub {
    font-size: 14px !important;
  }
  .fifth__block .fifth__block__wrapper .text {
    font-size: 14px !important;
    line-height: 24px !important;
    height: 50px !important;
    width: 290px;
    padding-top: 15px;
  }
  .fifth__block .phone__wrapper {
    overflow-x: hidden;
    width: 100%;
    height: 282px;
    margin-top: 100px;
  }
  .fifth__block .phone__wrapper .circle__wrapper {
    gap: 15px;
    height: 202px;
  }
  .fifth__block .phone__wrapper .circle__wrapper .circle {
    width: 202px;
    height: 202px;
    background-color: #dcac9b;
    opacity: 0.6;
    border-radius: 50%;
    z-index: 1;
  }
  .fifth__block .phone__wrapper .circle__wrapper .third__circle {
    width: 202px;
    height: 202px;
  }
  .fifth__block .phone__wrapper .circle__wrapper .third__circle img {
    width: 200px;
    height: 200px;
  }
  .fifth__block .phone__wrapper .fifth__block__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fifth__block .phone__wrapper .fifth__block__img img {
    width: 130px;
    height: 282px;
  }
  .fifth__block .fifth__block__applications {
    margin-top: 50px;
  }
  .fifth__block .fifth__block__applications p {
    font-size: 12px;
    line-height: 15px;
  }
  .fifth__block .fifth__block__applications .fifth__block__buttons {
    margin-top: 15px;
    gap: 17px;
    font-size: 12px;
    line-height: 15px;
  }

  .sixth__block__img {
    display: none;
  }

  .sixth__block form {
    padding: 70px 0;
  }
  .sixth__block form .form-item input {
    width: 335px;
  }
  .sixth__block form .form-item label {
    font-size: 14px;
  }
  .sixth__block form .submit {
    padding: 14px 128.5px;
    width: 335px;
  }
  .sixth__block .form__wrapper {
    width: 100%;
  }

  .footer__wrapper {
    padding: 0 20px;
  }
}