@import 'uikit';

@font-face {
  font-family: 'Saugadar';
  src: url(../fonts/Saudagar400.ttf) format('truetype'), url(../fonts/Saudagar400.woff) format('woff'), url(../fonts/Saudagar400.woff2) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Sukhumvit';
  src: url(../fonts/SukhumvitSet-Bold.ttf) format('truetype'), url(../fonts/SukhumvitSet-Bold.woff) format('woff'),
    url(../fonts/SukhumvitSet-Bold.woff2) format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Sukhumvit';
  src: url(../fonts/SukhumvitSet-Medium.ttf) format('truetype'), url(../fonts/SukhumvitSet-Medium.woff) format('woff'),
    url(../fonts/SukhumvitSet-Medium.woff2) format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Sukhumvit';
  src: url(../fonts/SukhumvitSet-Light.ttf) format('truetype'), url(../fonts/SukhumvitSet-Light.woff) format('woff'),
    url(../fonts/SukhumvitSet-Bold.woff2) format('woff2');
  font-weight: 300;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header__bg {
  background-image: url(../images/header_bg.jpg);
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  .black__bg {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.78);
    position: absolute;
    z-index: 1;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 115px 0 115px;
  }

  .application__list {
    width: 500px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-top: 15px;
    color: $white;
    font-family: 'Sukhumvit';
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $white;
    }

    a:first-child {
      & img {
        padding-right: 10px;
      }
    }
  }

  .header__content {
    text-align: center;
    h1 {
      margin-top: 15%;
      color: $white;
    }

    h3 {
      color: $white;
      margin-bottom: 70px;
    }

    a {
      z-index: 1;
      text-decoration: none;
      color: $dgrey;
      font-family: 'Sukhumvit Set';
      font-weight: 700;
      font-size: 18px;
      line-height: 172%;
      border: 1px solid $accent;
      background-color: $accent;
      border-radius: 2px;
      padding: 14px 100px;
    }
  }
}

.second__block {
  background-color: $dgrey;
  height: 100vh;

  h1 {
    color: $white;
    font-size: 305px;
    line-height: 315px;
    white-space: nowrap;
    text-align: justify;
    opacity: 0.06;
  }

  .p__content {
    margin: 0 auto;
    padding-top: 45px;
    width: 800px;
    height: 230px;
    color: $lgrey;
  }
  .p__second {
    padding-top: 20px;
    padding-bottom: 440px;
  }
  .p__title {
    margin: 0 auto;
    margin-top: 5%;
    color: $white;
    width: 865px;
  }
}

.third__block {
  height: 120vh;
  width: 100%;

  & > img {
    margin: 0 auto;
    margin-top: -100px;
    width: 80%;
    display: block;
  }

  .third__block__bottom {
    margin: 0 auto;
    margin-top: 340px;
    width: 70%;
    height: 330px;

    display: flex;
    justify-content: space-between;
    .third__block__img {
      height: 330px;
      width: 600px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.number__block {
  display: flex;
  flex-direction: column;
  height: 330px;
  width: 485px;

  .number {
    width: 100%;
    height: 45px;
    color: $accent;
    font-family: 'Saudagar';
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
  }

  .title {
    font-family: 'Saudagar';
    font-weight: 400;
    font-size: 50px;
    line-height: 65px;
    text-transform: uppercase;
    height: 130px;
  }

  .text {
    height: 155px;
    font-family: 'Sukhumvit Set';
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    display: flex;
    align-items: center;
  }
}

.fourth__block {
  margin: 0 auto;
  margin-top: 25%;
  width: 1920px;
  height: 950px;
  background-color: $dgrey;

  .fourth__block__wrapper {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
  }

  .fourth__block__img {
    img {
      width: 580px;
      height: 1030px;
      object-fit: cover;
      margin-top: -80px;
    }
  }
}

.fifth__block {
  margin: 0 auto;
  margin-top: 15%;
  width: 100%;
  height: 160vh;

  .fifth__block__wrapper {
    margin: 0 auto;
    width: 80%;
    height: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .number__block__wrap {
      width: 450px;

      p:nth-child(2) {
        color: $dgrey;
      }

      p:nth-child(3) {
        color: $grey;
      }
    }
  }

  .phone__wrapper {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    padding-right: 115px;
    padding-left: 115px;
    .circle {
      width: 541px;
      height: 541px;
      background-color: $accent;
      opacity: 0.6;
      border-radius: 50%;
      z-index: 1;
    }

    .fifth__block__img {
      width: 350px;
      height: 760px;
      display: block;
      position: absolute;
      margin-top: -100px;
      z-index: 1;
    }
  }

  .fifth__block__applications {
    margin-top: 15%;

    p {
      text-align: center;
      font-family: 'Sukhumvit';
      font-weight: 400;
      font-size: 25px;
      line-height: 32px;
      text-transform: uppercase;
    }

    .fifth__block__buttons {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      a {
        color: $white;
        text-decoration: none;
        border: 1px solid $black;
        background-color: $black;
        padding: 15px 36px 15px 66px;

        img {
          padding-right: 10px;
        }
      }
    }
  }
}

.sixth__block {
  margin-top: 15%;
  height: 100vh;
  width: 100%;

  .sixth__block__wrapper {
    display: flex;
    width: 100%;
    height: 970px;

    .sixth__block__img {
      width: 50%;
      width: 1080px;
      img {
        object-fit: cover;
      }
    }
  }

  form {
    margin: 0 auto;
    background-color: $dgrey;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 1080px;
    gap: 80px;
    padding: 120px 200px;

    h3 {
      font-family: 'Saugadar';
      font-weight: 400;
      font-size: 50px;
      line-height: 60px;
      color: $white;
    }
    input {
      width: 560px;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid hsla(0, 0%, 56%, 1);
    }

    .submit {
      border: 1px solid $accent;
      background-color: $accent;
      border-radius: 2px;
      padding: 14px 240px;
    }
  }
}

footer {
  margin-top: 110px;
  width: 100%;
}
.footer__wrapper {
  height: 110px;
  background-color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px 0 120px;

  p {
    color: $white;
  }
}
